<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo.png" alt="logo"></a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magnacing elit, sed do.</p>
                    </div>

                    <div class="newsletter-box">
                        <h4>Newsletter</h4>

                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Your Email Address" name="EMAIL"
                                required autocomplete="off">
                            <button type="submit"><i class="flaticon-paper-plane"></i></button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget ms-5">
                    <h3>Useful Links</h3>

                    <ul class="useful-links-list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Our Services</h3>

                    <ul class="widget-services-list">
                        <li><a href="#">Scientific</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Gemological</a></li>
                        <li><a href="#">Forensic science</a></li>
                        <li><a href="#">Immunology</a></li>
                        <li><a href="#">Healthcare Lab</a></li>
                        <li><a href="#">Alternative Energy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>

                    <ul class="footer-contact-info">
                        <li><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 49, Suitland Street,
                            c.g square, USA</li>
                        <li><i class="flaticon-phone"></i> <a href="#">+1 999 9999 9999</a></li>
                        <li><i class="flaticon-smartphone-call"></i> <a href="#">+2 888 555 5555</a></li>
                        <li><i class="flaticon-close-envelope"></i> <a href="#"><span class="__cf_email__"
                                    data-cfemail="6302070e0a0d230f0201170c4d000c0e">[email&#160;protected]</span></a>
                        </li>
                        <li><i class="flaticon-internet"></i> <a href="#">www.labto.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p><a href="https://envytheme.com/" target="_blank">EnvyTheme</a> © 2021. All rights reserved.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top"><i class="fas fa-arrow-up"></i></div>