
<app-header ></app-header>
        <!-- Start Page Title Area -->
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h2>Orders</h2>

                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>My Orders</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Contact Area -->
        <section class="contact-area ptb-120">
            <div class="card-body pt-2">

                <nav class="nav navbar-light bg-light ">
                    <a class="nav-link active"routerLink="/order">order List</a>
                    <a class="nav-link active"routerLink="/createorder">Create order</a>

                    
                      <input  type="text" id="myFilter" class="form-control" placeholder="search for an order" [(ngModel)]="ch">                         
                   
                    </nav>
                
            <div class="container mt-5 mb-3">
                <div class="row" >
                    <div class="col-md-4" *ngFor="let ph of orders |filter:ch ">

                        
                        <div class="card p-3 mb-2" > 
                            <div class="d-flex justify-content-between">
                              
                                <div class="d-flex flex-row align-items-center">

                                    <div class="ms-2 c-details">
                                        <h6 class="mb-0"></h6> <span></span>
                                    </div>
                                </div>
                                <div class="badge"> <span></span> </div>
                            </div>
                            <div class="mt-5">
                                <h3 class="heading">{{ph.orderItems}}</h3>
                                <h4 class="heading">{{ph.qte}}</h4>
                                <h4 class="heading">{{ph.totalprice}}</h4>



                                <div class="mt-5">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    <div class="mt-3"> <span class="text1">{{ph.status}} <span class="text2"></span></span> </div>
                            </div>
                            <button (click) = "updateorder(ph.idOrder)" class="btn btn-info">update</button> 
                            <button (click) = "deleteorder(ph.idOrder)" class="btn btn-info">delete</button> 

                            <div class="mt-5">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
  <!-- End Ccontainer-->
            </div>
        </section>
        <!-- Start Contact Area -->
       
<app-footer></app-footer>
